<html>
<head>
    <title> {{pagetitle}} </title>
</head>
<body>
     {{> header}}
     <hr>
<h3>  {{pagetitle}} </h3>
<p> this is Home page </p>
<p>this data is displayed using register Partials for Mvc Structure{{> footer}}</p>
</body>
</html>
